<p-timeline [value]="events">
  <ng-template pTemplate="content" let-event>
    <small class="p-text-secondary">{{ event.time | date }}</small>
  </ng-template>
  <ng-template pTemplate="opposite" let-event>
    <div class="p-grid p-jc-end">
      <div class="p-col-12">
        {{ event.name }}
      </div>
      <div class="p-col-4" *ngIf="event.is_online_event">
        <p-tag icon="pi pi-video" value="Online" severity="success"></p-tag>
      </div>
      <div class="p-col-4">
        <p-tag
          value="{{ event.status }}"
          severity="{{ event.status == 'upcoming' ? '' : 'warning' }}"
        ></p-tag>
      </div>
    </div>
    <hr />
  </ng-template>
</p-timeline>
