<p-card
  header="{{ group.name }}"
  subheader="{{ group.member_count }} Members"
  styleClass="p-card-shadow"
>
  <ng-template pTemplate="header">
    <img class="group-image" src="{{ group.photo_link }}" />
  </ng-template>

  <p-scrollPanel><div [innerHTML]="group.description"></div></p-scrollPanel>

  <ng-template pTemplate="footer">
    <span class="p-buttonset">
      <button
        pButton
        label="Open"
        icon="pi pi-external-link"
        (click)="goToLink(group.link)"
        class="p-button-sm"
      ></button>
      <button
        pButton
        label="Events"
        icon="pi pi-calendar"
        (click)="openEvents()"
        class="p-button-sm"
      ></button>
      <button
        pButton
        label="Sync"
        icon="pi pi-refresh"
        (click)="updateGroupData()"
        class="p-button-sm"
      ></button>
    </span>
  </ng-template>
</p-card>
